/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    transition: background-color 0.5s;
    position: relative;
}

header img {
    width: 100px;
    height: 100px;
}

h1 {
    font-size: 24px;
}

/* Navigation Styles */
nav {
    background-color: #444;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Main Content Styles */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    opacity: 0;
    transform: translateY(20px);
}

section.fade-in {
    opacity: 1;
    transform: translateY(0);
}

h2 {
    font-size: 20px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Mobile Menu Button Styles */
#mobile-menu-button {
    display: none;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

nav ul.active {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    header img {
        width: 80px;
        height: 80px;
    }

    h1 {
        font-size: 18px;
    }

    #mobile-menu-button {
        display: block;
    }
}
